<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vrp.poc">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="35" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:label="VRP PoC"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DrivePocActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.DRIVE_POC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CalendarSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.CALENDAR_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StealActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="vrp-steal.example.com" />
            </intent-filter>
        </activity>

    </application>
</manifest>
