<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vrp.poc">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="35" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:label="VRP PoC"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DrivePocActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.DRIVE_POC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CalendarSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.CALENDAR_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExpandedSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.EXPANDED_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StealActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="vrp-steal.example.com" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AdvancedSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.ADVANCED_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BlockedNumPoc"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.BLOCKED_NUM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProviderScanActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.PROVIDER_SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ContactsBlindSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.CONTACTS_BLIND_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ContactsCallLogSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.CONTACTS_CALLLOG_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DeepContactsSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.DEEP_CONTACTS_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CallLogCaseInjectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.CALLLOG_CASE_INJ" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NovelAttackSurfaceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.NOVEL_ATTACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SmsWriteVerifyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.SMS_WRITE_VERIFY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CrossTableSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.CROSS_TABLE_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ZeroPermActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.ZERO_PERM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.SETTINGS_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DumpFileProbeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.DUMP_FILE_PROBE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FullExtractionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.FULL_EXTRACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SystemProviderSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.SYSTEM_PROVIDER_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CallLogSqliActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.CALLLOG_SQLI" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WriteEscalationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.WRITE_ESCALATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CalendarCrossTableActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vrp.poc.CAL_CROSS_TABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
