<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poc.contactsdump"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="34" android:targetSdkVersion="35" />

    <application
        android:label="ContactsDumpPoC"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name=".DumpExploitActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CaptureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>

    </application>
</manifest>
