<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.research.binderleak">

    <uses-sdk android:minSdkVersion="34" android:targetSdkVersion="35" />

    <application
        android:label="BinderLeakPoC"
        android:debuggable="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Target service in a separate process so it can be frozen independently -->
        <service
            android:name=".LeakTargetService"
            android:process=":target"
            android:exported="false" />

    </application>
</manifest>
