<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vrp.stetho">

    <application
        android:label="VRP Stetho Probe"
        android:allowBackup="false">

        <activity
            android:name=".StethoProbeActivity"
            android:exported="true"
            android:label="Stetho Probe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>